<!DOCTYPE html>
<html>
<head>
	<title>Add Profile</title>
</head>
<body>
	<h3>Profile form</h3>
	<a href="/">back</a>
	<form action="/add" method="POST"> 
		<label>Name</label>
		<input type="text" name="name" placeholder="first name...">
		<label>rollno</label>
		<input type="text" name= "rollno" placeholder="rollno">
		<label>class</label>
		<input type="text" name="class" placeholder="class">
        <label>section</label>
		<input type="text" name="section" placeholder="section">
        <label>class_teacher</label>
		<input type="text" name="class_teacher" placeholder="class_teacher">
        <label>GPA</label>
		<input type="text" name="GPA" placeholder="GPA">
        <label>Fee_status</label>
		<input type="text" name="Fee_status" placeholder="Fee_status">
		<button type="submit">Add</button>
	</form>
</body>
</html>