<div class="neumorphic-card">
  <h2 mat-dialog-title>Add New Student</h2>
  <div mat-dialog-content>
    <mat-form-field floatLabel="always">
      <input matInput placeholder="Name" [(ngModel)]="name" required>
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <input matInput placeholder="Roll Number" [(ngModel)]="rollNumber" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Class</mat-label>
      <mat-select [(value)]="selectedClass" required>
        <mat-option *ngFor="let cls of classes" [value]="cls">{{cls}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Section</mat-label>
      <mat-select [(value)]="selectedSection" required>
        <mat-option *ngFor="let sec of sections" [value]="sec">{{sec}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <input matInput placeholder="Class Teacher" [(ngModel)]="classTeacher" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>GPA</mat-label>
      <input matInput type="number" min="0" max="10" step="0.1" [(ngModel)]="gpa" required>
    </mat-form-field>
    <div>
    <mat-checkbox [(ngModel)]="feeStatus">Fee Paid</mat-checkbox>
  </div>
  </div>
  
  <div class="save-button">
    <button mat-raised-button color="primary" (click)="saveStudent()">Save</button>
  </div>
</div>